<div class="container">
  <div class="add-movie">
    <h2>Add to list:</h2>
    <app-add-movie></app-add-movie>
  </div>
  <div class="movie-list">
    <h2>To watch list: </h2>
    <app-card-movie></app-card-movie>
  </div>
</div>

