.film-card{
  border: 3px solid lightseagreen;
  padding: 0 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

h5 {
  font-size: 18px;
  padding-right: 30px;
}

button {
  align-self: center;
  padding: 6px;
  color: red;
  background: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
