<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!isFetching">
  <div class="film-card" *ngFor="let movie of movies; let i = index">
    <h5>{{ movie.name }}</h5>
    <button (click)="deleteMovie(movie.id)">
      <span *ngIf="!isDeleting">X</span>
      <span *ngIf="isDeleting" class="spinner-border spinner-border-sm">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
  </div>
</ng-container>

