<div class="form-block">
  <form (ngSubmit)="addMovie()">
    <input type="text" name="name" #nameInput/>
    <button type="submit" [disabled]="isUpLoading">
      <span *ngIf="!isUpLoading">ADD</span>
      <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
  </form>
</div>
